body {
	font-family: 'EB Garamond', serif;
	background-color: #FFFFFF;
}
body header{
	background-color: #000000;
	height: 200px;
}
body header div figure img{
	display: none;
}
body header div{
	float: left;
	width: 100%;
}
body header h1, h2{
	font-family: 'Metamorphous', cursive;
	font-weight: normal;
	text-shadow: 3px 3px 2px #C145FA;
	color: #FFFFFF;
	/*color: #F1F40A;*/
}
body header h1{
	text-indent: 5%;
	padding-top: 19px;
	font-size: 36px;
}
body header h2{
	text-indent: 10%;
	padding-bottom: 5px;
	margin-top: 7px;
	font-size: 21px;
}
body header nav ul{
	list-style: none;
	margin:0 10px 0 2%;
    padding:0;
}
body header nav ul li{
	float: left;
	margin-right:15px;
    text-align:center;
}
body header nav ul li a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
}
body header nav ul li a:hover {
    color: #A6A6A6;
    border-bottom: 2px solid #C145FA;
}
body footer{
	background-color: #000000;
	height: 220px;
	color:#808080;
}
body footer content{
	float: left;
	text-align: center;
	display: inline-block;
	width: 50%;
}
body footer content h3{
	font-size: 15px;
}
body footer content p{
	margin: 0;
	padding: 0;
	font-size: 9px;
}
body footer content ul{
	margin: 0;
	padding: 0;
	list-style: none;
	/*margin-right: 10%;*/
}
body footer content ul li{
	font-size: 13px;
	margin-bottom: 7px;
}
body footer content ul li a{
	color: #808080;
	text-decoration: none;
}
body footer content ul li a:hover{
	color: #D3D3D3;
	border-bottom: 2px solid #D3D3D3;
}
body footer content figure{
	display: inline-block;
	margin: 0px;
}
body footer content figure a img{
	width: 45px;
	height: 45px;
	margin: 50% 8px 0px 8px;
}
body header #divlogo{
	width: 0%;
}
body header div figure img{
	visibility: none;
}

body #aviso{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: absolute;
}
body #avcont{
	background-color: white;
	margin: 0 auto;
	position: absolute;
	top: 10%;
	left: 5%;
	right: 5%;
	bottom: 10%;
	border-radius: 10px;
	box-shadow: 0px 5px 50px rgba(0,0,0,1);
	text-align: center;
	/*padding-right: 15px;
	padding-left: 15px;*/
}
body #cerrar{
	display: none;
}
body #cerrar + label{
	position: absolute;
	color: #FFFFFF;
	background: darkred;
	z-index: 50;
	border-radius: 50%;
	top: 7%;
	right: 4%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}

body #cerrar:checked + label, #cerrar:checked ~ #aviso{
	display: none;
}
body #avcont h3{
	margin-bottom: 0px;
	font-size: 20px;
	color: red;
}
body #avcont h4{
	margin: 0px;
	font-size: 80px;
	color: black;
}
body #avcont p{
	padding-right: 10px;
	padding-left: 10px;
	font-size: 17px;
}
/*body .contenido{
	clear: both;
	height: 222px;
}*/


/* MOBILE FIRST, RESPONSIVE */
@media screen and (min-width: 341px){
	body header nav ul li{
		margin-right:20px;
	}
	body header nav ul li a{
		font-size: 13px;
	}
	body #avcont h3{
		font-size: 25px;
	}
	body #avcont h4{
		font-size: 95px;
	}
	body #avcont p{
		font-size: 21px;
	}
}
@media screen and (min-width: 480px){
	/*body{
		background-color: orange;
	}*/
	body header h1{
		font-size: 39px;
	}
	body header h2{
		padding-bottom: 46px;
		font-size: 24px;
	}
	body header nav ul li{
		margin-right:15px;
	}
	body header nav ul li a{
		font-size: 15px;
	}
	body footer content h3{
		font-size: 16px;
	}
	body footer content ul li{
		font-size: 14px;
		margin-bottom: 9px;
	}
	body footer content p{
		margin: 0;
		padding: 0;
		font-size: 10px;
	}
	body footer content figure a img{
		width: 50px;
		height: 50px;
		margin: 45% 8px 0px 8px;
	}
	body #avcont{
		top: 20%;
		left: 10%;
		right: 10%;
		bottom: 20%;
	}
	body #cerrar + label{
		top: 18%;
		right: 7%;
	}
}
@media screen and (min-width: 767px){
	/*body{
		background-color: green;
	}
	body header h1{
		font-size: 40px;
	}
	body header h2{
		padding-bottom: 50px;
		font-size: 26px;
	}
	body header nav ul li a{
		font-size: 15px;
	}*/
	body header h1{
		font-size: 46px;
	}
	body header h2{
		padding-bottom: 21px;
		font-size: 32px;
	}
	body footer content h3{
		font-size: 18px;
	}
	body footer content ul li{
		font-size: 16px;
		margin-bottom: 13px;
	}
	body footer content p{
		margin: 0;
		padding: 0;
		font-size:12px;
	}
	body footer content figure a img{
		width: 55px;
		height: 55px;
		margin: 40% 15px 0px 15px;
	}
	body header #divlogo{
		width: 20%;
	}
	body header div figure img{
		display: block;
		margin-top: 20%;
		width: 152px;
		height: 152px;
	}
	body header div{
		width: 80%;
	}
	body #avcont{
		top: 30%;
		left: 20%;
		right: 20%;
		bottom: 30%;
	}
	body #cerrar + label{
		top: 28%;
		right: 19%;
	}
}
@media screen and (min-width: 950px){
	/*body{
		background-color: blue;
	}*/
	body header nav ul li a{
		color: #FFFFFF;
		text-decoration: none;
		font-size: 16px;
	}
	/*body footer content h3{
		font-size: 18px;
	}
	body footer content ul li{
		font-size: 16px;
		margin-bottom: 13px;
	}
	body footer content p{
		margin: 0;
		padding: 0;
		font-size:12px;
	}
	body footer content figure a img{
		width: 50px;
		height: 50px;
		margin: 25% 20px 0px 20px;
	}*/
	body header div figure img{
		margin-top: 2%;
		width: 190px;
		height: 190px;
	}
	body #avcont h3{
		font-size: 30px;
	}
	body #avcont h4{
		font-size: 120px;
	}
	body #avcont p{
		font-size: 20px;
	}
}