body {
	/*background-color: #FFFFFF;*/
	/*height: 100%;
	width: 100%;*/
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0;
}
div #promo { 
  width: 100%;
  overflow: hidden;
  margin-right: 0%;
  margin-left: 0%;
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }

/* MOBILE FIRST, RESPONSIVE */
@media screen and (min-width: 341px){}
@media screen and (min-width: 480px){
	/*body{
		background-color: orange;
	}*/
}
@media screen and (min-width: 767px){
	/*body{
		background-color: green;
	}*/
	div #promo {
		width: 50%; 
  		margin-right: 25%;
  		margin-left: 25%;
  	}
}
@media screen and (min-width: 950px){
	/*body{
		background-color: blue;
	}*/
}