<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>All's Vapers</title>
	
	<link rel="stylesheet" type="text/css" href="css/secundaria.css">
</head>
<body>
<div id="promo">
	<figure class="slider">
		<figure>
			<img src="images/promos/promo1.jpg" alt>
		</figure>
		<!--<figure>
			<img src="images/promos/promo2.jpg" alt>
		</figure>
		<figure>
			<img src="images/promos/promo1.jpg" alt>
		</figure>
		<figure>
			<img src="images/promos/promo2.jpg" alt>
		</figure>
		<figure>
			<img src="images/promos/promo1.jpg" alt>
		</figure>-->
	</figure>
</div>
<p>Deberia escribir algo inteligente aqui :D</p>
</body>
</html>